@{
    ViewData["Title"] = "Test";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>T.</p>
<p>Testuje po raz kolejny.</p>
<!--

//using System.Data.SqlClient;
//using System.Data;
//
//{
//   ViewBag.Title = "BAZA";
//
//
//   System.Data.SqlClient.SqlConnection MSDEconn;
//   MSDEconn = new SqlConnection();
//   MSDEconn.ConnectionString = "Server=(LocalDB)\\MSSQLLocalDB;"
//       + "AttachDbFilename=c:\\users\\kkonopka\\documents\\visual studio 2017\\Projects\\WebApplication2\\WebApplication2\\App_Data\\Database1.mdf;" +
//       "Integrated Security=SSPI;";
//
//   try
//   {
//       MSDEconn.Open();
//   }
//   catch (Exception e)
//   {
//       ViewBag.Errr = "errr: " + e;
//   }
//
//
//   SqlDataAdapter ad = new SqlDataAdapter("SELECT * FROM Klienci", MSDEconn);
//   DataSet ds = new DataSet();
    -->